<div data-controller="fruit-menu" class="fruit-menu">
  <button data-fruit-menu-target="fruitMenuShowButton" data-action="fruit-menu#show" class="bottom-button">
    Feed Me
  </button>

  <%# fruit selector use turbo frames ehre ....%>

  <div data-fruit-menu-target="fruitMenuContent" class="fruit-menu-content hidden">

    <%= form_with do |form| %>
      <%= form.search_field :fruit, placeholder: "e.g. stawberry"%>
    <% end %>


    <%# render fruits on search ... use recents or most popular if no search %>
    <% fruits.each do |fruit| %>

      <%# on select - render  %>
      <button data-fruit-menu-target="fruitMenuItem" data-action="fruit-menu#select" data-item-value-param=<%= fruit["label"] %>>
        <%= fruit["label"] %>
      </button>
    <% end %>

  </div>

</div>