<div class="container">
  <div class="content">
    little character goes here!
  </div>
</div>
<%= link_to feedings_path, data: {"turbo-frame": "fruit-menu"} do %>
  <button class="bottom-button">feed me</button>
<% end %>
<turbo-frame id="fruit-menu"></turbo-frame>
