/*
 *
 * general styles
 *
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;

  height: 100vh;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  flex-grow: 1;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  flex-grow: 1;
}

fieldset {
  width: 100%;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  border: none;
}

input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  background: whitesmoke;
}

.hidden {
  display: none;
}

/*
 *
 * button styles
 *
*/

button {
  cursor: pointer;
}

.bottom-button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  background: lavenderblush;
}
