.fruit-menu {

    &show-button {

    }

    &-content {
        position: fixed; 
        bottom: 0;
        left: 0;
        z-index: 1;
    
        width: 100vw;
        height: 100vh;
        padding: 1rem;
    
        background-color: aquamarine;
    }

    &-hide-button {
        
    }
}